.button
{
    min-width: 200px;
    padding:8px;
    border-radius: 24px;
    font-weight:bolder;
    &.--primary
    {
        background: $hr_accent;
        &:hover
        {
            background: lighten($color:$hr_accent, $amount: 2);
            cursor: pointer;
        }
        &:active
        {
            background: darken($color:$hr_accent, $amount: 1);
        }
    }
}