.login
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: login-animation 1s ease-in-out;
    .form-container
    {
        border:1px solid $hr_gray4;
        width: 40%;
        border-radius: 24px;
        height: 60%;
        .hrms-band
        {
            padding: 24px;
            
            background: $hr_gray3;
            border-top-left-radius: 24px;
            border-top-right-radius: 24px;
            h3
            {
                margin:0px;
                color:$hr_white;
                text-align: center;
            }
        }
        .form
        {
           padding: 24px;
           display: flex;
          flex-direction: column;
            justify-content:space-between;
            height: 60%;
            
            .login-input
            {
                margin-top: 16px;
                animation: input-field 1s ease-in-out;
                animation-delay: 2s;
            }
            .login-button
            {
            width: 100%;
            margin-top: 16px;
            }
            .validation-error
            {
                color:$hr_error;
                display: flex;
                justify-content: center;
            }
            
        }
        
        
        

    }
}
@keyframes login-animation
{
    from
    {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes form-container-animation
{
    from
    {

    }
}
@keyframes input-field
{
    from{
        width: 0%;
        opacity: 0;

    }
    to{
        width: 100%;
        opacity: 1;
    }
}